h1{
    top: 50%;
    align-items: center;
    max-width: 60%;
    height: 50%;
    padding: 100px;
    display: grid;   
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);
    
  
}
.day { background: url('morning2.jpg');
    color: black;
        background-size: cover;
    background-repeat: no-repeat;
            
    }
.sunset { background: url('sunset2.jpg');
        color: black;
        background-size: cover;
    background-repeat: no-repeat;
            
    }
.night { background: url('night2.jpg');
        color: whitesmoke;
                background-size: cover;
    background-repeat: no-repeat;
    }
